

  .question {
    grid-area: q;
    margin: auto;
    padding:50px;
    width: 50%;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "t"
    "o";
  }
  
  .title{
    grid-area: t;
    padding: 10px;
    text-align: left;
    font-family: 'Signika', sans-serif;
  }
  
  .options{
    grid-area: o;
    text-align: left;
    font-family: 'Rajdhani', sans-serif;
  }
  
  .options > * {
    margin:10px;
  }
  
